@import "tailwindcss";
@import "flowbite";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* estilos base */
:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: theme("colors.gray.50");
  color: theme("colors.gray.900");
  -webkit-font-smoothing: antialiased;
}
